.header {
  position: fixed; // Initial position
  left: 0;
  width: 100%;
  box-shadow: $shadow;
  transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out; // Added transition properties
  top: 0;
  z-index: 999;
  transform: translateY(0); // Start with no vertical transformation

  &.show {
    background-color: rgba($color: $black, $alpha: 0.5); // Add background color
    transform: translateY(0); // Reset transform to keep it at the top
  }

  &.hide {
    transform: translateY(-100%); // Slide the header up and out of view
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  .brand {
    img {
      width: 280px;
      height: auto;
    }
  }

  .nav {
    width: 100%;

    &-menu {
      display: flex;
      gap: 30px;

      a {
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        color: $white;

        &::after {
          content: "";
          width: 100%;
          height: 5px;
          background-color: $primary;
          position: absolute;
          bottom: -5px;
          left: 0;
          border-radius: 10px;
          transform: scale(0);
          transform-origin: center;
          transition: 0.8s;
        }

        &:hover,
        &.active {
          &::after {
            transform: scale(1);
          }
        }
      }
    }
  }

  .selector {
    position: relative;
    border: 1px solid $tarnary;
    border-radius: 4px;
    padding: 10px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 16px;
      cursor: pointer;
      color: $white;

      svg {
        font-size: 14px;
      }
    }

    &-items {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      background-color: $white;
      height: max-content;
      border-radius: 6px;
      padding: 10px;
      box-shadow: $shadow;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &.show {
        visibility: visible;
      }

      button {
        border: none;
        background-color: transparent;
        font-size: 22px;
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: $white;
  color: $black;
  padding-top: 60px;
  padding-bottom: 20px;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &-menu,
  &-contact,
  .brand,
  &-qrc {
    width: 100%;

    img {
      width: 100%;
      max-width: 200px;
      height: auto;
    }

    h4 {
      font-size: 24px;
      margin: 20px 0;
    }

    .qrc {
      max-width: 150px;
      display: flex;
      align-items: flex-start;

      svg {
        width: 100%;
        height: 150px;
      }
    }

    a {
      color: $black;
      font-size: 16px;
      padding-bottom: 4px;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      display: block;
      padding: 10px 0 5px;
      font-size: 14px;
    }
  }

  &-bottom {
    margin-top: 30px;
    a {
      color: $tarnary;
    }
  }
}

// social
.social {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  background-color: rgba($black, 0.7);
  padding: 20px 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    color: $white;
    font-size: 20px;
    transition: 0.4s;

    &:hover {
      color: $secndary;
    }
  }
}
